<div class="container mt-3">
  <div class="row m-0">
    <div class="col-md-3 p-0">
      <ul class="list-group">
        <a ui-sref="admin.uploadMovie">
          <li class="list-group-item"><i class="fa fa-film" aria-hidden="true"></i>&nbsp&nbspUpload Movie</li>
        </a>  
        <a ui-sref="admin.city">
          <li class="list-group-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp&nbspCity</li>
        </a>
        <a ui-sref="admin.theatre">
          <li class="list-group-item"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i>&nbsp&nbspTheatre</li>
        </a>
        <a ui-sref="admin.showtimings">
          <li class="list-group-item"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp&nbspShow Timings</li>
        </a>
        <a ui-sref="admin.assigntimings">
          <li class="list-group-item">Assign show Timings</li>
        </a>
        <a ui-sref="admin.assignmovie">
          <li class="list-group-item">Assign Movie</li>
        </a>
      </ul>
    </div>
    <div class="col-md-9" style="background-color: #fff; padding: 10px 0; min-height: 100%">
      <ui-view></ui-view>
    </div>
  </div>
</div>