<form class="form-inline p-3" ng-submit="addShow(show)">

  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" ng-model="show.movie">
		<option ng-repeat="movie in allMovies" ng-value="movie">{{movie.movieName}}</option>
	</select>

	<select ng-if="show.movie" ng-change="citySelected(show.city.cityName)" class="custom-select mb-2 mr-sm-2 mb-sm-0" ng-model="show.city">
		<option ng-repeat="city in allCities" ng-value="city">{{city.cityName}}</option>
	</select>

	<select ng-if="show.city && theatreInCity.length > 0" class="custom-select mb-2 mr-sm-2 mb-sm-0" ng-model="show.theatre">
		<option ng-repeat="theatre in theatreInCity" ng-value="theatre">{{theatre.theatreName}}</option>
	</select>

	<select ng-if="show.theatre" class="custom-select mb-2 mr-sm-2 mb-sm-0" ng-model="show.time">
		<option ng-repeat="timing in show.theatre.theatreTimings" ng-value="timing">{{timing}}</option>
	</select>

	<input ng-if="show.time" class="form-control mr-1" ng-model="show.startDate" type="date">
	<input ng-if="show.time" class="form-control mr-1" ng-model="show.endDate" type="date">

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="row p-3">
	<div class="col-md-4">
		<h4>Movie Name</h4>
	</div>
	<div class="col-md-3">
		<h4>Theatre</h4>
	</div>
	<div class="col-md-3">
		<h4>Timing</h4>
	</div>
</div>

<div class="row p-3" ng-repeat="show in allShows track by $index">
	<div class="col-md-4">
		<p class="m-0">{{show.movie.movieName}}</p>
	</div>
	<div class="col-md-3">
		<p class="m-0">{{show.theatre.theatreName}}, {{show.theatre.theatreCity}}</p>
	</div>
	<div class="col-md-3">
		<button type="button" class="btn btn-primary">{{show.time}}</button>
	</div>
	<div class="col-md-2">
		<button type="button" class="btn btn-danger" ng-click="deleteShow(show, $index)">Delete</button>
	</div>
</div>