<form class="form-inline p-3">

  <input ng-model="theatre.theatreName" style="max-width: 150px" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Theatre Name">
  <input ng-model="theatre.theatreSeats" style="max-width: 150px" type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Total Seats">
  <input ng-model="theatre.theatrePrice" style="max-width: 150px" type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Ticket Price">

  <select ng-model="theatre.theatreCity" ng-options="city.cityName as city.cityName for city in allCities"></select>

  <button type="submit" class="btn btn-primary ml-2" ng-click="addTheatre(theatre)">Add</button>
  <!-- <button type="button" class="btn btn-warning ml-2">Update</button> -->

</form>

<div class="row p-3">
  <div class="col-md-2">
    <h5>Theatre Name</h5>
  </div>
  <div class="col-md-2">
    <h5>Theatre Seats</h5>
  </div>
  <div class="col-md-2">
    <h5>Theatre Price</h5>
  </div>
  <div class="col-md-2">
    <h5>Theatre City</h5>
  </div>
</div>

<div class="row p-3" ng-repeat="theatre in allTheatres">
  <div class="col-md-2">
    <p class="m-0">{{theatre.theatreName}}</p>
  </div>
  <div class="col-md-2">
    <p class="m-0">{{theatre.theatreSeats}}</p>
  </div>
  <div class="col-md-2">
    <p class="m-0">{{theatre.theatrePrice}}</p>
  </div>
  <div class="col-md-2">
    <p class="m-0">{{theatre.theatreCity}}</p>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary">Edit</button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-danger" ng-click="deleteTheatre(theatre, $index)">Delete</button>
  </div>
</div>